{% extends "base.html" %}
{% block content %}
  <h1>{{genre.genrename}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove aria-hidden="true"></span>Poista</a> 
    <a href="{{base_path}}/genre/{{genre.id}}/edit" class="btn btn-default"><span class="glyphicon glyphicon-cog aria-hidden="true"></span>Muokkaa</a>
  </p>  
  <!-- Kuvaus tulee tähän -->
  <p>
    <div class="well">
      {{genre.description}}
    </div>
  </p>  
  
{% endblock %}