{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{genre.genrename}}</h1>
  <!-- Painikkeet tähän -->
  {% if user_logged_in %}
  <p>
    {{forms.destroy_button("#{base_path}/genre/#{genre.id}/destroy")}} 
    {{forms.edit_button("#{base_path}/genre/#{genre.id}/edit")}}
  </p>  
  {% endif %}   
  <!-- Kuvaus tulee tähän -->
  <p>
    <div class="well">
      {{genre.description}}
    </div>
  </p>

  {% if games is not empty %} 
    <h4>Genreen kuuluvat pelit</h4>

    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Peli</th>          
      </tr>
    </thead>

    <tbody>
      {% for game in games %}
      <tr>
        <td><a href="{{base_path}}/game/{{game.id}}">{{game.gamename}}</a></td>              
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
  
{% endblock %}