{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{game.gamename}}</h1>
  <!-- Painikkeet tähän -->
  {% if user_logged_in %}
  <p>
    {{forms.destroy_button("#{base_path}/game/#{game.id}/destroy")}} 
    {{forms.edit_button("#{base_path}/game/#{game.id}/edit")}}
  </p>
  {% endif %}
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisuvuosi:</strong> {{game.published_year}}</li>
    <li><strong>Julkaisija:</strong> {{game.publisher}}</li>    
    <li><strong>Lisäyspäivä:</strong> {{game.added}}</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    <div class="well">
      {{game.description}}
    </div>
  </p>  
  
{% endblock %}