{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{game.gamename}}</h1>
  <!-- Painikkeet tähän -->
  {% if user_logged_in %}
  <p>
    {{forms.destroy_button("#{base_path}/game/#{game.id}/destroy")}} 
    {{forms.edit_button("#{base_path}/game/#{game.id}/edit")}}
  </p>
  {% endif %}
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisuvuosi:</strong> {{game.published_year}}</li>
    <li><strong>Julkaisija:</strong> {{game.publisher}}</li>    
    <li><strong>Lisäyspäivä:</strong> {{game.added}}</li>
  </ul>

  <!-- Arvioita koskeva tieto tähän -->
  <p>
    {% if average is null %}
      Ei arvioita.
    {% else %}
      Arvioiden keskiarvo: {{ average|number_format(1, ',', ' ') }}
    {% endif %}
  </p>

  <!-- Kuvaus tulee tähän -->
  <p>
    <div class="well">
      {{game.description}}
    </div>
  </p>

  {% if user_logged_in %}
  <p>
    <a href="{{base_path}}/rating/new" class="btn btn-success">Anna arvio</a>
  </p>
  {% endif %}
  
{% endblock %}