{% extends "base.html" %}
{% block content %}
  <h1>Scythe</h1>
  <!-- Painikkeet tähän -->
  <p>
    <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove aria-hidden="true"></span>Poista</a> 
    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-cog aria-hidden="true"></span>Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisuvuosi:</strong> 2016</li>
    <li><strong>Julkaisija:</strong> Stonemaier Games</li>    
    <li><strong>Lisäyspäivä:</strong> 21.3.2017</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Scythe on vaihtoehtoiseen historiaan sijoittava peli, jossa pelaajat pyrkivät voittamaan omalla valtiollaan. Pelissä pitää tasapainotella resurssien, taistelun ja aluehallinnan välillä ja kansojen erilaiset ominaisuudet tuovat lisämausteen peliin.
  </p>
  <!-- Genret tulee tähän -->
  <h4>Genret:</h4>
  <ul>
    <li>Strategia</li>
    <li>Kilpailullinen</li>
    <li>Vaihtoehtohistoria</li>
  </ul>
{% endblock %}