{% extends "base.html" %}
{% block content %}
  <h1>Scythe</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisuvuosi:</strong> 2016</li>
    <li><strong>Suunnittelija:</strong> Jamey Stegmaier</li>
    <li><strong>Genre:</strong> <label class="label label-danger">Strategia</label></li>
    <li><strong>Lisäyspäivä:</strong> 21.3.2017</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Scythe on vaihtoehtoiseen historiaan sijoittava peli, jossa pelaajat pyrkivät voittamaan omalla valtiollaan. Pelissä pitää tasapainotella resurssien, taistelun ja aluehallinnan välillä ja kansojen erilaiset ominaisuudet tuovat lisämausteen peliin.
  </p>
{% endblock %}